<main class="center-normal message window">
  <p> Una verdadera lástima {{user.name}}. Esperamos verte en otro momento :)</p>
  <div class="buttons">
    <a href="/" class="button back">Inicio</a>
  </div>
</main>