<main class="main center-normal window">
  <img src="img/logo.jpeg" alt="Logo" class="main-logo">
  <p>¿Qué quieres hacer hoy?</p>
  <div class="main-buttons buttons">
    <a href="/citas/formulario" class="button go">Reservar cita</a>
    <a href="/citas/modificar/id" class="button go">Modificar reserva</a>
    <a href="/citas/cancelar/id" class="button back">Cancelar reserva</a>
    <a href="/citas/consultar/email" class="button go">Consultar reservas</a>
  </div>
</main>