<main class="center-normal message window">
  <p>
    ESTA RESERVA NO EXISTE
  </p>
  <p>Pulsa aquí para hacer otra reserva</p>
  <div class="buttons">
    <a href="/citas/formulario" class="button go">Reservar cita</a>
  </div>
</main>