<main class="center-normal message window">
  <h2>¡Gracias por reservar!</h2>
  <p>Te hemos enviado un correo de confirmación.</p>
  <p>Recuerda que la reserva no se efectuará hasta que se haga click en el enlace del correo.</p>
  <div class="buttons">
    <a href="/" class="button back">Inicio</a>
  </div>
</main>