body{
  background-color: $Black;
  color: white;
  font-family: Arial;
  text-align: center;
}

header{
  position: relative;
  z-index: 10;
  background-color: $Black;
  color: $Red;
  width: 100%;
  font-family: "rolling";
  font-size: 1em;
  h1{
    margin: 0;
    padding: 10px;
    text-shadow: 0.03em 0.04em white;
    position: relative;
    right: 8px;
    .t{
      font-size: 1.6em;
      position: relative;
      left: 6px;
      top: 2px;
    }
  }
}

footer {
  height: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  p{
    margin: 0;
  }
}